





@media only screen and (max-width: 1200px) {
  .up .Container .Row{

    padding: 20px;
    flex-direction: column;
    gap: 50px;
  }
  .up .Container .Row .image{

    
    border-radius: 100px 100px 10px 20px;
  }

}